<nav class="navbar header"> 
          <a class="btn btn-sm btn-outline-light" href="#">Mande sua receita</a>
          <a class="navbar-brand" href="#"><img src="../assets/images/logo2.png" width="150" height="80" alt="#" class="logo"></a>
          <a class="icone-pesquisa" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
      </nav>

      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carnes</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Bovina</a>
                          <a class="dropdown-item" href="#">Frango</a>
                          <a class="dropdown-item" href="#">Peixe</a>
                          <a class="dropdown-item" href="#">Outras</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doces e sobremesas</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Caldas</a>
                          <a class="dropdown-item" href="#">Bolos</a>
                          <a class="dropdown-item" href="#">Doces de festa</a>
                          <a class="dropdown-item" href="#">Mousses</a>
                          <a class="dropdown-item" href="#">Pudins</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="#">Fitness </a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hortifruti</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Frutas</a>
                          <a class="dropdown-item" href="#">Hortaliças</a>
                          <a class="dropdown-item" href="#">Legumes</a>  
                          <a class="dropdown-item" href="#">Verduras</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Massas</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Pães</a>
                          <a class="dropdown-item" href="#">Tortas</a>  
                          <a class="dropdown-item" href="#">Outras</a>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Saudáveis</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#">Rápidas</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#">Veganas</a>
                  </li> 
              </ul>
          </div>
      </nav>
      <div class="conteudo">
          <div class="row">
              <div class="col-md-8">
              <div class="jumbotron 8 sufle">
                  <div class="col-md-8 px-0 texto-principal">
                      <h1 class="font-italic text-image text-white">SUFLÊ DE LEGUMES</h1>
                      <p class="texto-dois">Suflê de legumes com água de coco</p>
                      <a href="receitas/sufle.html"><button type="button" class="btn-receita text-white">Veja aqui</button></a>
                  </div>
                  </div>
                  
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <div class="ad-imagem">
                          <img src="../assets/images/anuncio.png" alt="Anuncio">
                      </div>
                      <div class="card-body">
                          <p class="card-text">Colocar anúncio aqui</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-warning">Clique aqui</button>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-4 shadow-sm">
                      <div class="ad-imagem">
                          <img src="../assets/images/anuncio.png" alt="Anuncio">
                      </div>
                      <div class="card-body">
                          <p class="card-text">Colocar anúncio aqui</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-warning">Clique aqui</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row  shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-warning">Hortifruti </strong>
                          <h3 class="mb-0">Batata assada</h3>
                          <div class="mb-1 text-muted">Por: Receitas Gshow</div>
                          <p class="card-text mb-auto">Batata assada básica e crocante.</p>
                          <a href="receitas/batata-assada.html" class="stretched-link text-warning">Veja a receita</a>
                      </div>
                      <div class="col-auto d-none d-lg-block sessao-um" >
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="row no-gutters border rounded overflow-hidden shadow-sm h-md-250">
                      <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-success">Veganas</strong>
                          <h3 class="mb-0">Strogonoff de Berinjela</h3>
                          <div class="mb-1 text-muted">Ariana Pazzini</div>
                          <p class="mb-auto">Sugestão de prato principal usando vegetais.</p>
                          <a href="receitas/strogonoff-de-berinjela.html" class="stretched-link text-success">Veja a receita</a>
                      </div>
                      <div class="col-auto d-none d-lg-block sessao-dois" >
                      </div>
                  </div>
              </div>
          </div>
          <main role="main" >
              <h2 class="recentes"> Recentes</h2>
              

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="imagens/comidas/bolo-de-cenoura.jfif" alt="Bolo de cenoura com cobertura de chocolate">
                <div class="card-body">
                    <h4 class="bolo">Bolo de cenoura</h4>
                  <p class="card-text">Bolo de cenoura com cobertura de chocolate</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                      <small class="text-muted">40 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="imagens/comidas/fricasse.jfif" alt="Card image cap">
                <div class="card-body">
                  <h4 class="frango">Fricassê de frango</h4>
                  <p class="card-text">Molho com creme de leite, milho, requeijão, azeitona...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="imagens/comidas/bolo-de-banana.jfif" alt="Card image cap">
                <div class="card-body">
                  <h4 class="frango">Bolo de banana integral</h4>
                  <p class="card-text">Bolo de banana com farinha de trigo integral...</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-danger">Ver receita</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
</div>
<footer class="blog-footer">
  <p>
    <a href="#">Voltar para o topo</a>
  </p>
</footer>